# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=5.2.00
Encoding=UTF-8
Name=Rupaya-Qt Regtest
Icon=${SNAP}/qt-regtest.ico
MimeType=x-scheme-handler/rupaya;
Exec=rupaya.qt-regtest %u
Terminal=false
Categories=Office;Finance;
Comment=Rupaya Core Regression Test (by RUPAYA-Project)
Keywords=internet;rupaya;regtest;qt;crypto;currency;snap;snapcraft;RUPAYA-Project;project;daemon;cli;qt;zerocoin;zrupx
