# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=5.2.00
Encoding=UTF-8
Name=Rupaya-Qt
Icon=${SNAP}/qt.png
MimeType=x-scheme-handler/rupaya;
Exec=rupaya.qt %u
Terminal=false
Categories=Office;Finance;
Comment=PIVX Core (by RUPAYA-Project)
Keywords=internet;rupaya;main;qt;crypto;currency;snap;snapcraft;project;zerocoin;zrupx;southasia
