# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=5.2.00
Encoding=UTF-8
Name=Pivx-Qt
Icon=${SNAP}/rupaya128.png
MimeType=x-scheme-handler/rupaya;
Exec=rupaya %u
Terminal=false
Categories=Office;Finance;Cryptocurrency;
Comment=RUPAYA Core (by RUPAYA-Project)
Keywords=internet;rupaya;main;qt;crypto;currency;snap;snapcraft;project;
